@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cart {
  position: fixed;
  right: 10px;
  top: 10px;
  background-color: rgb(178, 233, 178);
  width: 100px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.itemBox {
  display: flex;
  justify-content: space-between;
}

.cartImage {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.cart_items {
  position: absolute;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  width: 300px;
  right: 0;
  top: 120%;
  display: none;
  cursor: pointer;
}

.cart_items.show {
  display: block;
}

.pagination span {
  cursor: pointer;
}